/*  your css code here. If applicable */
#wrapper{
	flex-wrap:wrap;
	align-content:flex-start;
	row-gap:24px;
	display:flex;
}
.product{
	display:flex;
	justify-content:center;
	align-items:center;
	color:white;
}
#dsa{
	flex-basis:50%;
	background-color:rgb(137,0,35);
	align-self:center;
	order:0;
}
#mern{
	flex-basis:30%;
	height:75px;
    order:0;
	background-color: rgb(243, 127, 27);
	
}
#acciojob{
	flex-basis:75%;
	background-color: rgb(98, 110, 227);
	order:1;
	margin-left:auto;
	margin-right:auto;
}
#buisness-analytics{
	flex-basis:40%;
	background-color:rgb(17, 150, 126);
	order:2;
	margin-right:10px;
	align-self:flex-end;
}
#spring{
	height:75px;
	background-color:red;
	order:2;
	flex-grow:1;
}
